In [1]:
import pandas as pd

In [2]:
# Visualizando dados que serão limpos 
import pandas as pd
data = pd.read_csv("ocorrencia.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)
data.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-234.355.555.556,-464.730.555.556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,01/09/2016,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,27/11/2013,0,1,NÃO

In [3]:
# Removendo dados que não serão utilizados no projeto
data = data.drop(['codigo_ocorrencia1', 'codigo_ocorrencia3','codigo_ocorrencia4', 'ocorrencia_latitude', 'ocorrencia_longitude', 
          'ocorrencia_pais', 'investigacao_aeronave_liberada','investigacao_status', 'divulgacao_relatorio_numero',
          'divulgacao_relatorio_publicado', 'divulgacao_dia_publicacao','total_aeronaves_envolvidas', 
          'ocorrencia_saida_pista'], axis=1)
data.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [4]:
#Analizando dados pelo labol
#loc[linha, coluna]
data.loc[1,'ocorrencia_cidade']

'GUARULHOS'

In [5]:
#loc[linha atá linha]
data.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0

In [6]:
#loc[[linha e linha]]
data.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,45332,45332,ACIDENTE,VIAMÃO,RS,****,2012-01-09,13:30:00,0
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,****,2012-01-30,13:55:00,0

In [7]:
#loc[todas as linhas, coluna]
data.loc[:,'ocorrencia_cidade']

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5167, dtype: object

In [8]:
# verificando se os dados da coluna codigo_ocorrencia possuem valores únicos
data.codigo_ocorrencia.is_unique

True

In [9]:
# definindo o codigo_ocorrencia como index
data.set_index('codigo_ocorrencia', inplace=True)

In [10]:
data.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [11]:
data.loc[45407]

codigo_ocorrencia2                        45407
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                      SÃO SEPÉ
ocorrencia_uf                                RS
ocorrencia_aerodromo                       ****
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora                        16:30:00
total_recomendacoes                           0
Name: 45407, dtype: object

In [12]:
# Desabilitando o uso do codigo_ocorrencia como index
data.reset_index(drop=True, inplace=True)

In [13]:
data.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [14]:
#alterando dado **** pelo valor vazio '' da coluna ocorrencia_aerodromo
data.loc[2,'ocorrencia_aerodromo'] = ''

In [15]:
data.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3

In [16]:
data.loc[1] = 20

In [17]:
data.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,0
1,20,20,20,20,20,20,20,20

In [18]:
data.loc[:,'total_recomendacoes'] = 10

In [19]:
data

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10
1,20,20,20,20,20,20,20,10
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,10
...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30 00:00:00,20:30:00,10
5163,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31 00:00:00,09:30:00,10
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31 00:00:00,11:59:00,10
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31 00:00:00,15:12:00,10
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31 00:00:00,20:30:00,10

In [20]:
# backup da coluna ocorrecia uf
data['ocorrencia_uf_bkp'] = data.ocorrencia_uf

In [21]:
data

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10,RS
1,20,20,20,20,20,20,20,10,20
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10,RS
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30 00:00:00,20:30:00,10,GO
5163,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31 00:00:00,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31 00:00:00,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31 00:00:00,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31 00:00:00,20:30:00,10,PE

In [22]:
data.loc[data.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [23]:
data

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10,RS
1,20,20,20,20,20,20,20,10,20
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30 00:00:00,20:30:00,10,GO
5163,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31 00:00:00,09:30:00,10,SP
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31 00:00:00,11:59:00,10,RS
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31 00:00:00,15:12:00,10,PR
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31 00:00:00,20:30:00,10,PE

In [24]:
data.loc[data.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
3,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,10,SP
5,52243,GRAVE,UBATUBA,SP,****,2012-01-06 00:00:00,14:30:00,10,SP
6,50713,GRAVE,CAMPINAS,SP,SDAI,2012-01-07 00:00:00,18:15:00,10,SP
13,45408,GRAVE,ELDORADO,SP,****,2012-01-11 00:00:00,13:45:00,10,SP
26,45410,GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2012-01-21 00:00:00,23:30:00,10,SP
...,...,...,...,...,...,...,...,...,...
5148,80441,GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2021-12-20 00:00:00,18:15:00,10,SP
5157,80453,GRAVE,CAMPINAS,SP,SBKP,2021-12-29 00:00:00,09:00:00,10,SP
5158,80454,GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29 00:00:00,21:35:00,10,SP
5161,80456,GRAVE,SÃO PAULO,SP,SBSP,2021-12-30 00:00:00,13:15:00,10,SP
5163,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31 00:00:00,09:30:00,10,SP

In [25]:
# limpando os dados das colunas ocorrencia_aerodromo = pd.NA (valores não informados)
data.loc[data.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [26]:
data.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10,RS
1,20,20,20,20,20,20,20,10,20
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06 00:00:00,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06 00:00:00,16:30:00,10,RS

In [27]:
# limpando os dados das colunas de todo o dataframe
data.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [28]:
# Verificanndo se há dados não informados no dataframe com isna()
data.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              2
dtype: int64

In [29]:
# Verificanndo se há dados não informados no dataframe com isnull()
data.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              2
dtype: int64

In [30]:
# Colocando valor 0 nos dados não informado em todo dataframe
data.fillna(10, inplace=True)

In [31]:
data.isnull().sum()

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
ocorrencia_uf_bkp           0
dtype: int64

In [32]:
data.replace([10], pd.NA, inplace=True)

In [33]:
data.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes         5167
ocorrencia_uf_bkp              2
dtype: int64

In [34]:
## Colocando valor 0 nos dados não informado apenas onde precisa
data.fillna(value={'total_recomendacoes':10}, inplace=True)

In [35]:
data.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              2
dtype: int64

In [36]:
# backup da coluna
data['total_recomendacoes_bkp'] = data.total_recomendacoes

In [37]:
data.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,total_recomendacoes_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10,RS,10
1,20,20,20,20,20,20,20,10,20,10
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10,RS,10
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06 00:00:00,17:00:00,10,SP,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06 00:00:00,16:30:00,10,RS,10

In [38]:
# backup da coluna total_recomendações
data.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)

In [39]:
data.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10,RS
1,20,20,20,20,20,20,20,10,20
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06 00:00:00,17:00:00,10,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06 00:00:00,16:30:00,10,RS

In [40]:
data['total_recomendacoes_bkp'] = data.total_recomendacoes

In [41]:
data.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,total_recomendacoes_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,10,RS,10
1,20,20,20,20,20,20,20,10,20,10
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06 00:00:00,13:00:00,10,RS,10
3,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06 00:00:00,17:00:00,10,SP,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06 00:00:00,16:30:00,10,RS,10

In [48]:
# Iniciando a limpeza definitiva para a transformação dos dados
data = pd.read_csv("ocorrencia.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)
data = data.drop(['codigo_ocorrencia1', 'codigo_ocorrencia3','codigo_ocorrencia4', 'ocorrencia_latitude', 'ocorrencia_longitude', 
          'ocorrencia_pais', 'investigacao_aeronave_liberada','investigacao_status', 'divulgacao_relatorio_numero',
          'divulgacao_relatorio_publicado', 'divulgacao_dia_publicacao','total_aeronaves_envolvidas', 
          'ocorrencia_saida_pista'], axis=1)
data.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [49]:
# limpando(Removendo) linhas sem dados informados
data.dropna()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [50]:
data

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [51]:
# limpando (removendo) linha por coluna sem dados não informados
data.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [52]:
data

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [53]:
# limpando dados duplicados
data.drop_duplicates(inplace=True)

In [54]:
data

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0